@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,500italic,500|Roboto+Slab);
h1, h2, h3, h4, h5, h6 {
    color: #363634;
    font-family: 'Roboto Slab', serif;
    line-height: 1.4
}
body, p {
    color: #8a8a8a;
    font-family: Roboto, sans-serif
}
.btn, a {
    -webkit-transition: all .5s ease;
    transition: all .5s ease
}
.btn:focus, a:focus {
    outline: thin dotted
}
.lead {
    font-weight: 300
}
.headline {
    margin-top: 0;
    margin-bottom: 30px
}
.btn-custom {
    background-color: #98d56e;
    box-shadow: none;
    color: #fff;
    text-transform: uppercase
}
.btn-custom:active, .btn-custom:hover {
    box-shadow: none;
    background-color: #88bf62;
    border: 2px solid #fff;
    color: #fff
}
.navbar-btn-custom {
    background-color: transparent;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, .1);
    color: rgba(0, 0, 0, .3);
    text-transform: uppercase;
    margin-right: 10px;
}
.navbar-btn-custom:active, .navbar-btn-custom:hover {
    box-shadow: none;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff
}
.jumbotron, .navbar {
    background: #31b4e7
}
.navbar {
    border-width: 0;
    margin-bottom: 0;
    padding-top: 67px;
    padding-bottom: 0px
}
.navbar-logo {
    width: 60px;
    height: 60px;
    margin-top: 0px;
    padding-left: 70px;
    padding-top: 20px;
    font-size: 42px;
    background: url(../images/logo-header.png) no-repeat;
}
.navbar a:focus, .navbar a:hover {
    text-decoration: none
}
.jumbotron {
    margin-bottom: 0;
    padding: 55px 0 155px
}
.headline, .jumbotron-content, .lead-custom {
    max-width: 880px
}
.jumbotron h1 {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: .05em;
    line-height: 1.3;
    margin-bottom: 30px
}
.jumbotron .lead {
    color: rgba(255, 255, 255, .8);
    font-size: 26px;
    margin-bottom: 50px
}
.jumbotron p {
    color: #fff;
    font-size: 16px
}
.jumbotron .btn {
    border: 2px solid #fff;
    padding: 12px 42px
}
.invite-me-cta {
    padding-left: 10px
}
.invite-me-cta a {
    color: #fff;
    font-weight: 500;
    padding-left: 10px
}
#about {
    background-color: #fff;
    padding-top: 152px;
    padding-bottom: 152px
}
.features {
    margin-top: 30px
}
.features hr {
    width: 70%;
    border: 1px solid #ccc;
    clear: both;
    margin-right: 0;
    margin-left: 0
}
.feature {
    margin-top: 30px
}
.feature .fa {
    font-size: 40px;
    color: #ccc
}
.feature-one .fa {
    color: #31b4e7
}
.feature-two .fa {
    color: #ff864f
}
.feature-three .fa {
    color: #88bf62
}
.testimonial-wrap {
    padding-top: 142px;
    padding-bottom: 88px;
    background-color: #98d56e;
}
.servers-wrap {
    padding-top: 142px;
    padding-bottom: 88px;
    background-color: #EDC14E;
}
.testimonial-wrap .headline {
    color: #fff;
    margin-bottom: 30px
}
.quote {
  color: #fff;
  background: #88bf62;
  padding: 1px 15px 15px 15px;
  border-radius: 10px;
  margin-bottom: 30px;
}
.quote p {
    color: #fff;
    margin-bottom: 0
}
.cite {
    margin-left: 25px;
    margin-bottom: 80px
}
.cite .photo {
    background-color: #fff;
    border-radius: 100px;
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 10px
}
.cite p {
    position: relative;
    top: 10px
}
.cite p:nth-child(2), .cite p:nth-child(3) {
    color: rgba(0, 0, 0, .3)
}
.cite p:nth-child(2) {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 0
}
#invite-me {
    padding-top: 148px
}
.panel-signup {
    background-color: #f5f5f5;
    border-width: 0;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 1px 0 rgba(0, 0, 0, .15);
    margin-top: 33px;
    margin-bottom: 0;
    padding: 52px;
    max-width: 620px
}
.panel-signup .panel-body {
    padding: 0;
    text-align: center
}
.panel-signup .panel-body h5 {
    margin-top: 0;
    margin-bottom: 30px;
    font-family: Roboto, sans-serif;
    font-size: 19px
}
.panel-signup .panel-body p {
    color: #9e9e97;
    font-size: 16px;
    font-style: italic;
    margin: 30px 0 0
}
.panel-signup .form-control:focus {
    border-color: #98d56e
}
.panel-signup .btn[type=submit], .panel-signup .form-control {
    max-width: 166px
}
.panel-signup .form-control {
    border-width: 2px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin-right: 10px
}
.panel-signup .btn[type=submit] {
    height: 46px
}
.panel-signup .btn-custom:active, .panel-signup .btn-custom:hover {
    border: 1px solid #88bf62
}
.footer {
    background-color: #fafafa;
    margin-top: 0px;
    padding-top: 40px;
    padding-bottom: 45px;
    border-top: 1px solid #e3e3e3;
    font-size: .95em
}
.footer a {
    color: #a6afb2
}
.footer a:hover {
    color: #969596;
    text-decoration: none
}
.link-list {
    list-style-type: none;
    line-height: 1.8;
    margin: 0 0 25px;
    padding: 0
}
.link-list .heading {
    font-weight: 700;
    margin-bottom: 10px
}
.link-list li {
    margin-bottom: 3px
}
.copyright {
    opacity: .8;
    font-size: .9em
}
.footer-logo {
    width: 82px;
    margin: -.05em 0 .95em 0
}
@media (min-width: 768px) {
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: 0
    }
}
@media (min-width: 768px) and (max-width: 768px) {
    .panel-signup .form-group {
        width: 33.3333%
    }
}
@media (max-width: 768px) {
    .navbar-right {
        float: right!important
    }
    .jumbotron {
        padding: 5px 0 80px
    }
    .jumbotron h1 {
        font-size: 32px;
        margin-bottom: 30px
    }
    .jumbotron .lead {
        font-size: 21px
    }
    .jumbotron p {
        font-size: 14px
    }
    .jumbotron .btn {
        padding: 9px 21px;
        font-size: 14px
    }
    .headline {
        font-size: 21px
    }
    #about {
        padding-top: 80px;
        padding-bottom: 80px
    }
    .testimonial-wrap {
        padding-top: 80px;
        padding-bottom: 10px
    }
    .cite .photo {
        width: 40px;
        height: 40px
    }
    .cite p {
        top: 0
    }
    .cite p:nth-child(2) {
        font-weight: 400
    }
    .cite p:nth-child(2), .cite p:nth-child(3) {
        font-size: 14px
    }
    #invite-me {
        padding-top: 80px
    }
    .panel-signup {
        margin-top: 33px;
        padding: 22px
    }
    .panel-signup .btn[type=submit], .panel-signup .form-control {
        max-width: 100%
    }
    .footer {
        margin-top: 80px
    }
}
@media (max-width: 480px) {
    .navbar {
        padding-top: 15px;
        padding-bottom: 15px
    }
    .jumbotron {
        padding: 5px 0 50px
    }
    .jumbotron h1 {
        font-size: 28px;
        margin-bottom: 25px
    }
    .jumbotron .lead {
        font-size: 17px;
        margin-bottom: 30px
    }
    .jumbotron .btn {
        padding: 9px;
        font-size: 14px
    }
    .headline {
        font-size: 21px;
        margin-bottom: 15px
    }
    #about {
        padding-top: 50px;
        padding-bottom: 50px
    }
    .features {
        margin-top: 0
    }
    .testimonial-wrap {
        padding-top: 50px;
        padding-bottom: 10px
    }
    .cite .photo {
        width: 40px;
        height: 40px
    }
    .cite p {
        top: 0
    }
    .cite p:nth-child(2) {
        font-weight: 400
    }
    .cite p:nth-child(2), .cite p:nth-child(3) {
        font-size: 14px
    }
    #invite-me {
        padding-top: 80px
    }
    .panel-signup {
        margin-top: 33px;
        padding: 22px
    }
    .panel-signup .btn[type=submit], .panel-signup .form-control {
        max-width: 100%
    }
    .footer {
        margin-top: 80px
    }
}
